<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!--사용자 css 추가-->
<th:block layout:fragment="css">
  <style>

  .products {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 740px;
    text-align: center;
  }

  .products img{
    width: 225px;
    height: 225px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .products a{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 11px;
  }

  .price{
    margin-top: 4px;
    margin-bottom: 4;
  }
  </style>
</th:block>


<div layout:fragment="content">
  <div id="main" class="card mb-3" style="/*height:calc(100vh - 12rem);*/min-height:1024px;overflow-y:scroll;"><div class="row g-3 mb-3 mt-3" style="width:95%;margin:0 auto;">
    <div class="products">
      <h2 class="mb-0 text-primary position-relative">최신 등록 카드</h2>
      <a ref=""><img src=""><p class="price">? $</p><p>판매자 ?명<button>구매하기</button></p></a>
      <a ref=""><img src=""><p class="price">? $</p><p>판매자 ?명<button>구매하기</button></p></a>
      <a ref=""><img src=""><p class="price">? $</p><p>판매자 ?명<button>구매하기</button></p></a>
      <a ref=""><img src=""><p class="price">? $</p><p>판매자 ?명<button>구매하기</button></p></a>
      <a ref=""><img src=""><p class="price">? $</p><p>판매자 ?명<button>구매하기</button></p></a>
      <a ref=""><img src=""><p class="price">? $</p><p>판매자 ?명<button>구매하기</button></p></a>
    </div>
    </div>
    </div>
</div>
</html>